/*section 1*/
.background-img {
	background-image: url("../img/parallax-1.jpg");
	background-repeat: no-repeat;
	width:100%;
	height: 800px;
	margin-left: 25px;
}
.scroll {
	width: 30px;
	height: 30px;
}

.logo{
	margin-top: 50px;
	margin-left: 40px;
}
/*1*/
/*Section 3*/
.background-img-2{
	background-image: url("../img/parallax-3.jpg");
	background-repeat: no-repeat;
	width:100%;
	height: 800px;
	margin-left: 30px;
}

.sub-titulo {
	font-size: 100px;
	color: #fff;
	line-height: 90px;
	margin-left: 300px;
	margin-top: 60px;
	position: relative;
	display:inline-block;
}
.sub-tituloo{
	font-size: 100px;
	color: #fff;
	line-height: 90px;
	margin-left: 300px;
}

.parrafo{
	font-size: 20px;
	color: #fff;
	margin-left: 320px;
	margin-top: 10px
}
/*3*/

/*Section 4*/
.topos-te{
	margin-left: 130px;
	margin-top: 60px;
	margin-bottom: 40px;
}

.te-tipo{
	margin-left: 10px;
	margin-rigth: 10px;
}

.rosa{
	color: #FEACC6;
	font-size: 25px;
}
/*4*/
/*Seccion 5*/
.mini-1{
	width:105%;

}
.mini-2{
	width:110%;
	margin-left: -30px;
}
.mini-3{
	width:110%;
	margin-left: -28px;
}
.mini-4{
	width:105%;
	margin-left: -30px;
}
/*5*/
/*Seccion 6*/
.background-img-3{
	background-image: url("../img/parallax-2.jpg");
	background-repeat: no-repeat;
	width:100%;
	height: 800px;
	margin-left: 30px;
}
.sub-titulo-2 {
	font-size: 100px;
	color: #fff;
	line-height: 0px;
	margin-left: 290px;
	margin-top: 220px;
	position: relative;
	display:inline-block;
}
.sub-titulo-2-2 {
	font-size: 100px;
	color: #fff;
	line-height: 104px;
	margin-left: 280px;
}
/*6*/


.background-icon-1{
	background-color: #FEE66B;
}
.background-icon-2{
	background-color: #59FF0B;
}
.background-icon-3{
	background-color: #FFADC7;
}
/*Section */
.background-img-4{
	background-image: url("../img/parallax-4.jpg");
	background-repeat: no-repeat;
	width:100%;
	height: 800px;
	margin-left: 30px;
}
/*Section */
.background-img-5{
	background-image: url("../img/slide1.jpg");
	background-repeat: no-repeat;
	width:100%;
	height: 800px;
	margin-left: 30px;
}
